<style>
  h2 {
    color:red;
  }
  h4 {
    color:red;
    font-style: italic;
  }
  p {color:blue;

  }
  body {
    color:dodgerblue;
    background-color: black;
  }
  .purple-text {
    color:purple;
  }
  .important{
    font-weight: bold;
  }
  img {
    border-style: solid;
    border-color: yellow;
    border-width: 1px;
    width: 20%;
  }
  a[href="semantic-elements-lesson-1.html"] {
    background-color: red;
  }
  .important {
    font-weight:bold;
  }
</style>
